
import(bigmemory,synchronicity,parallel)

export(rthreadsSetup,rthreadsJoin,rthreadsAtomicInc,rthreadsAttachMutex,
   rthreadsAttachSharedVar,rthreadsMakeMutex,rthreadsMakeSharedVar,
   rthreadsWaitDone,rthreadsMakeBarrier,rthreadsInitBarrier,rthreadsBarrier,
   quickstart)

importFrom("utils", "browseURL")

