
import(bigmemory,parallel)

export(rthreadsSetup,rthreadsJoin,rthreadsAtomicInc,rthreadsAttachMutex,
   rthreadsAttachSharedVar,rthreadsMakeMutex,rthreadsMakeSharedVar,
   rthreadsWaitDone,rthreadsMakeBarrier,rthreadsInitBarrier,rthreadsBarrier)

